<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Brands.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
</head>

<body style="background: #f1f7fc;">
    <section class="showcase"></section>
    <section class="article-list" style="background: #f1f7fc;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #f1f7fc;">
            <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="assets/img/OutSeek%20Logo.png" style="height: 30px;">
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Menu</a>
                            <div class="dropdown-menu" style="height: 98px;"><a class="dropdown-item" href="#">Screener</a><a class="dropdown-item" href="#">About Us</a></div>
                        </li>
                    </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-primary action-button" role="button" data-bss-hover-animate="pulse" href="#" style="background: var(--bs-blue);">Sign Up</a></span>
                </div>
            </div>
        </nav>
        <div class="container" style="height: 413px;font-size: 13px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><br>Symbol<br></th>
                            <th><br>Company Name<br></th>
                            <th><br>Exchange<br></th>
                            <th><br>Market Cap<br></th>
                            <th><br>Sector<br></th>
                            <th><br>Industry<br></th>
                            <th><br>Average Volume<br></th>
                            <th><br>Country<br></th>
                            <th><br>Share Price<br></th>
                            <th><br>Currency<br></th>
                            <th><br>Change<br></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AAPL</td>
                            <td>Apple</td>
                            <td>NASDAQ</td>
                            <td>2.5T</td>
                            <td>Technology<br></td>
                            <td>Consumer Electronics</td>
                            <td>165778904<br></td>
                            <td>USA</td>
                            <td>120.96</td>
                            <td>USD</td>
                            <td>0.080<br></td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="features-clean" style="background: #f1f7fc;">
        <footer class="footer-basic" style="background: #f1f7fc;">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">OutSeek © 2021</p>
        </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</body>

</html>